In [1]:
import os
import pandas as pd
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
import string
import nltk
from wordcloud import WordCloud, STOPWORDS

In [2]:
#set working directory
os.chdir("C:/Users/Dell/BusinessAnalyst/4.Author")

In [3]:
#load text data
data = pd.read_csv("Author_Books.csv")

In [4]:
data.head(2)

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...

In [5]:
#select few text
data = data.iloc[:1000,]
data.shape

(1000, 4)

#### Extract stop words

In [6]:
stop = set(stopwords.words('english'))

#### Extract punctuation marks

In [7]:
exclude = set(string.punctuation)

### Text pre-processing

In [8]:
def clean(doc):
    stop_free = " ".join([i for i in doc.lower().split() if i not in stop])
    punc_free = " ".join(ch for ch in stop_free if ch not in exclude)
    num_free = " ".join(i for i in punc_free if not i.isdigit())
    return num_free
data_corpus = [clean(data.iloc[i,1]) for i in range(0, data.shape[0])]

### Sentiment analysis using textblob

In [9]:
Result = pd.DataFrame()

#run engine
for i in range(0, data.shape[0]):
    blob = TextBlob(data.iloc[i,1])
    
    temp = pd.DataFrame({'Comments': data.iloc[i,1], 'Polarity': blob.sentiment.polarity}, index = [0])
    
    Result = Result.append(temp)

In [10]:
Result.head(5)

     Comments  Polarity
0       empty      -0.1
0     sadness       0.0
0     sadness       0.0
0  enthusiasm       0.0
0     neutral       0.0

#### Here Positive sentiments has positive value. Negative and neutral sentiments has no values i.e., 0

### Sentiment analysis using vader

In [11]:
#sentiment analysis using vader
Result = pd.DataFrame()

#create analyzer
analyzer = SentimentIntensityAnalyzer()

#run engine
for i in range(0, data.shape[0]):
    snt = analyzer.polarity_scores(data.iloc[i,1])
    
    temp = pd.DataFrame({'Comments': data.iloc[i,1], 'Polarity': snt.items()}, index = [0])
    
    Result = Result.append(temp)

In [12]:
Result.head(10)

     Comments                                           Polarity
0       empty  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...
0     sadness  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...
0     sadness  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...
0  enthusiasm  ((neg, 0.0), (neu, 0.0), (pos, 1.0), (compound...
0     neutral  ((neg, 0.0), (neu, 1.0), (pos, 0.0), (compound...
0       worry  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...
0     sadness  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...
0       worry  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...
0     sadness  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...
0     sadness  ((neg, 1.0), (neu, 0.0), (pos, 0.0), (compound...

#### Here it will mark as 1 based on the sentiments.

#### Done